
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/Microsoft.Web.Media.TransformManager.Common.dll
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/Microsoft.Web.Media.TransformManager.SDK.dll
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/RCE.Services.Contracts.dll
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/RCE.Services.Contracts.pdb
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/RCE.TransformManager.Tasks.dll
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/RCE.TransformManager.Tasks.pdb
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/RCEProjectTask.xml
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/SMPTETimecode.dll
/RCE.TransformManager/code/RCE.TransformManager.Tasks/bin/Debug/SMPTETimecode.pdb
/RCE.TransformManager/code/RCE.TransformManager.Tasks/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RCE.TransformManager/code/RCE.TransformManager.Tasks/obj/Debug/RCE.TransformManager.Tasks.csproj.FileListAbsolute.txt
/RCE.TransformManager/code/RCE.TransformManager.Tasks/obj/Debug/RCE.TransformManager.Tasks.dll
/RCE.TransformManager/code/RCE.TransformManager.Tasks/obj/Debug/RCE.TransformManager.Tasks.pdb
/RCE.TransformManager/RCE.TransformManager.suo
/RCE.TransformManager/RCE.TransformManager.5.1.ReSharper.user
/RCE.TransformManager/code/RCE.TransformManager.Tasks/StyleCop.Cache
/RCE.TransformManager/libs/TransformManager/Microsoft.Web.Media.TransformManager.Common.dll
/RCE.TransformManager/libs/TransformManager/Microsoft.Web.Media.TransformManager.SDK.dll